In [18]:
# pip install mysql-connector-python

In [142]:
# !pip install sqlalchemy

In [143]:
import mysql.connector

In [144]:
# MySQL 연결 설정
config = {
    'user': 'admin_ytk',
    'password': 'tN8VnV1aBuDNvcnPWKgU',
    'host': 'database-ytk.ctkg5u6wqxe6.us-east-2.rds.amazonaws.com',
    'database': 'NLP_G3',
    'raise_on_warnings': True
}

In [145]:
# MySQL 연결
connection = mysql.connector.connect(**config)

In [146]:
# 커서 생성
cursor = connection.cursor()

## ID 생성기

In [152]:
from datetime import datetime

def create_id(id_type, id_num):
    id_list = []
    
    for num in range(0, id_num):
        id_list.append('{0}_{1}'.format(id_type + datetime.today().strftime("_%Y%m%d_%H%M%S"), num))
    
    return id_list

In [153]:
print(create_id('news', 10))

['news_20231211_162052_0', 'news_20231211_162052_1', 'news_20231211_162052_2', 'news_20231211_162052_3', 'news_20231211_162052_4', 'news_20231211_162052_5', 'news_20231211_162052_6', 'news_20231211_162052_7', 'news_20231211_162052_8', 'news_20231211_162052_9']

## 날짜 List 생성기

In [154]:
from datetime import datetime

# 날짜 리스트 생성
def create_date_list(num):
    date_list = []
    for i in range(0, num):
        date_list.append(datetime.today().strftime("%Y-%m-%d %H:%M:%S"))
    return date_list

In [155]:
create_date_list(10)

['2023-12-11 16:20:54',
 '2023-12-11 16:20:54',
 '2023-12-11 16:20:54',
 '2023-12-11 16:20:54',
 '2023-12-11 16:20:54',
 '2023-12-11 16:20:54',
 '2023-12-11 16:20:54',
 '2023-12-11 16:20:54',
 '2023-12-11 16:20:54',
 '2023-12-11 16:20:54']

In [156]:
# SQLAlchemy 엔진 생성
engine = create_engine(f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}/{config['database']}")

In [157]:
# Pandas DataFrame Insert
import pandas as pd
from sqlalchemy import create_engine as sqla

## INSERT

In [132]:
# Pandas DataFrame 생성 (예시 데이터)
data_num = 2

data = {'news_id': create_id('news', data_num), # 테스트용 ID 데이터
        'news_doc': ['doc1', 'doc2'],
        'estimate': ['30%', '40%'],         # 긍정 기준 % 를 넣을지, 부정 기준 % 를 넣을지는 팀원과 상의 필요
        'url': ['url1', 'url2'],
        'create_date': create_date_list(data_num),
        'update_date': create_date_list(data_num)}

df = pd.DataFrame(data)

In [133]:
# DataFrame을 MySQL 테이블에 삽입
table_name = 'news_data'
df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

2

In [134]:
connection.commit()

In [135]:
cursor.close()
connection.close()

### 테이블이 없을 경우, 테이블을 생성하는 코드 : 예외처리 보험용

In [159]:
# SQLAlchemy 엔진 생성
# engine = create_engine(f"mysql+mysqlconnector://{config['user']}:{config['password']}@{config['host']}/{config['database']}")

In [ ]:
# 테이블 생성 (컬럼 자료형 지정)
create_table_query = '''
CREATE TABLE NLP_G3.news_data
(   news_id   		VARCHAR(50)     PRIMARY KEY  NOT NULL,
    news_doc  		TEXT     		NULL,
    estimate   		VARCHAR(5)      NULL,
    url       		VARCHAR(30)     NULL,
    create_date     timestamp DEFAULT CURRENT_TIMESTAMP     NOT NULL,
    update_date     timestamp DEFAULT CURRENT_TIMESTAMP     NOT NULL)
'''

In [ ]:
engine.execute(create_table_query)

## SELECT

### DataFrame 형태로 DB 정보 읽어오기

In [174]:
query = 'select * from enterprise_data;'

In [175]:
# MySQL에서 데이터를 Pandas DataFrame으로 읽기
df = pd.read_sql(query, engine)

In [177]:
df

   enter_id enter_name enter_type         create_date         update_date
0      CH01       LG화학         화학 2023-12-08 07:20:34 2023-12-08 07:20:34
1      CH02         한화         화학 2023-12-08 07:20:35 2023-12-08 07:20:35
2      CH03        KCC         화학 2023-12-08 07:20:35 2023-12-08 07:20:35
3      CH04      삼성 화학         화학 2023-12-08 07:20:35 2023-12-08 07:20:35
4      CH05     아모레퍼시픽         화학 2023-12-08 07:20:36 2023-12-08 07:20:36
5      EN01   LG에너지솔루션        에너지 2023-12-08 07:20:38 2023-12-08 07:20:38
6      EN02         한전        에너지 2023-12-08 07:20:38 2023-12-08 07:20:38
7      EN03    SK이노베이션        에너지 2023-12-08 07:20:38 2023-12-08 07:20:38
8      EN04     현대오일뱅크        에너지 2023-12-08 07:20:39 2023-12-08 07:20:39
9      ER01         LH         건설 2023-12-08 07:20:36 2023-12-08 07:20:36
10     ER02      대우 건설         건설 2023-12-08 07:20:36 2023-12-08 07:20:36
11     ER03      현대 건설         건설 2023-12-08 07:20:37 2023-12-08 07:20:37
12     ER04      GS 건설         건설 2023-12-08 07:20:37 2023-12-08 07:20:37
13     ER05     포스코이엔씨         건설 2023-12-08 07:20:37 2023-12-08 07:20:37
14     IT01        네이버         IT 2023-12-08 07:20:32 2023-12-08 07:20:32
15     IT02        카카오         IT 2023-12-08 07:20:33 2023-12-08 07:20:33
16     IT03         라인         IT 2023-12-08 07:20:33 2023-12-08 07:20:33
17     IT04         쿠팡         IT 2023-12-08 07:20:33 2023-12-08 07:20:33
18     IT05      배달의민족         IT 2023-12-08 07:20:34 2023-12-08 07:20:34

### text 형태로 DB 정보 읽어오기

In [166]:
# MySQL 쿼리 작성 (여기서는 모든 데이터를 가져오는 예제)
query = "SELECT * FROM NLP_G3.enterprise_data"

In [167]:
cursor.execute(query)

In [168]:
# 결과 출력하기
result = cursor.fetchall()
for row in result:
    print(row)

('CH01', 'LG화학', '화학', datetime.datetime(2023, 12, 8, 7, 20, 34), datetime.datetime(2023, 12, 8, 7, 20, 34))
('CH02', '한화', '화학', datetime.datetime(2023, 12, 8, 7, 20, 35), datetime.datetime(2023, 12, 8, 7, 20, 35))
('CH03', 'KCC', '화학', datetime.datetime(2023, 12, 8, 7, 20, 35), datetime.datetime(2023, 12, 8, 7, 20, 35))
('CH04', '삼성 화학', '화학', datetime.datetime(2023, 12, 8, 7, 20, 35), datetime.datetime(2023, 12, 8, 7, 20, 35))
('CH05', '아모레퍼시픽', '화학', datetime.datetime(2023, 12, 8, 7, 20, 36), datetime.datetime(2023, 12, 8, 7, 20, 36))
('EN01', 'LG에너지솔루션', '에너지', datetime.datetime(2023, 12, 8, 7, 20, 38), datetime.datetime(2023, 12, 8, 7, 20, 38))
('EN02', '한전', '에너지', datetime.datetime(2023, 12, 8, 7, 20, 38), datetime.datetime(2023, 12, 8, 7, 20, 38))
('EN03', 'SK이노베이션', '에너지', datetime.datetime(2023, 12, 8, 7, 20, 38), datetime.datetime(2023, 12, 8, 7, 20, 38))
('EN04', '현대오일뱅크', '에너지', datetime.datetime(2023, 12, 8, 7, 20, 39), datetime.datetime(2023, 12, 8, 7, 20, 39))
('ER01', 'LH', '건설', datetime.datetime(2023, 12, 8, 7, 20, 36), datetime.datetime(2023, 12, 8, 7, 20, 36))
('ER02', '대우 건설', '건설', datetime.datetime(2023, 12, 8, 7, 20, 36), datetime.datetime(2023, 12, 8, 7, 20, 36))
('ER03', '현대 건설', '건설', datetime.datetime(2023, 12, 8, 7, 20, 37), datetime.datetime(2023, 12, 8, 7, 20, 37))
('ER04', 'GS 건설', '건설', datetime.datetime(2023, 12, 8, 7, 20, 37), datetime.datetime(2023, 12, 8, 7, 20, 37))
('ER05', '포스코이엔씨', '건설', datetime.datetime(2023, 12, 8, 7, 20, 37), datetime.datetime(2023, 12, 8, 7, 20, 37))
('IT01', '네이버', 'IT', datetime.datetime(2023, 12, 8, 7, 20, 32), datetime.datetime(2023, 12, 8, 7, 20, 32))
('IT02', '카카오', 'IT', datetime.datetime(2023, 12, 8, 7, 20, 33), datetime.datetime(2023, 12, 8, 7, 20, 33))
('IT03', '라인', 'IT', datetime.datetime(2023, 12, 8, 7, 20, 33), datetime.datetime(2023, 12, 8, 7, 20, 33))
('IT04', '쿠팡', 'IT', datetime.datetime(2023, 12, 8, 7, 20, 33), datetime.datetime(2023, 12, 8, 7, 20, 33))
('IT05', '배달의민족', 'IT', datetime.datetime(2023, 12, 8, 7, 20, 34), datetime.datetime(2023, 12, 8, 7, 20, 34))